{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>

    <div>
    {% if post.date %}<span class="page__meta"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: '%B %d, %Y' }}</span>{% endif %}
    {% if post.venue %}<span> — </span><span class="archive__item-excerpt page__meta" itemprop="description">{{post.type}}, {{ post.venue }},  {{post.location}}</span> {% endif %}
    </div>
    
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}" class="fas fa-link publication-resource">  Link  </a>
    {% endif %}

    {% if post.codeurl %}
      <a href="{{ post.codeurl }}" class="fas fa-code publication-resource">  Code  </a>
    {% endif %}

    {% if post.dataurl %}
      <a href="{{ post.dataurl }}" class="fas fa-database publication-resource">  Data  </a>
    {% endif %}

    {% if post.dashboardurl %}
      <a href="{{ post.dashboardurl }}" class="fas fa-chart-bar publication-resource">  Dashboard  </a>
    {% endif %}

    {% if post.slidesurl %}
      <a href="{{ post.slidesurl }}" class="fas fa-desktop publication-resource">  Slides  </a>
    {% endif %}

    {% if post.blogurl %}
      <a href="{{ post.blogurl }}" class="fas fa-paragraph publication-resource">  Blog  </a>
    {% endif %}
  </article>
</div>
